<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>问卷调查</title>

    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" rel="stylesheet"/>
    <style type="text/css">
        body {
            padding: 20px;
        }

        .row {
            background: #fff;
        }
    </style>
</head>
<body>
<div class="row">
    <h2 align="center">管理满意度调查问卷</h2>
</div>
<div class="row" style="padding-top: 20px">
    <div class="col-md-12">
        <p>
            亲爱的伙伴们:
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为了进一步加强员工沟通，了解管理现状，不断完善相关政策制度，针对管理人员在日常工作过程中的管理及工作态度进行相关的问卷调查，本次调查以匿名的形式提交，请表达真实的想法。
            <br/>
            <br/>
            说明：5分(非常认可)、4分(认可)、3分(一般)、2分(很少)、1分(不是)
        </p>
    </div>
</div>

<div th:if="${not #lists.isEmpty(persons)}">
    <div class="row">
        <hr/>
        <div class="col-xs-12 col-sm-2">
            <p>
                请选择被调查人：
            </p>
        </div>


        <div class="form-group col-xs-6 col-sm-3" id="personForm">
            <select class="form-control" id="person">
                <div th:each="person:${persons}">
                    <option th:text="${person.name}" th:value="${person.name}"></option>
                </div>
            </select>
        </div>
    </div>
</div>

<div th:if="${not #lists.isEmpty(questionsList)}">
    <div class="row" th:each="questions,stat:${questionsList}">
        <div class="col-md-12">
            <hr/>
            <div class="col-xs-12 col-sm-12" th:id="'title'+${stat.index+1}">
                <span th:text="${stat.index+1}"></span>
                <span th:text="${questions.question}"></span>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" th:name="'question'+${stat.index+1}" value="5"
                               th:onclick="'choose('+${stat.index+1}+');'"/> 5分</label>
                </div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" th:name="'question'+${stat.index+1}" value="4"
                               th:onclick="'choose('+${stat.index+1}+');'"/> 4分</label>
                </div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" th:name="'question'+${stat.index+1}" value="3"
                               th:onclick="'choose('+${stat.index+1}+');'"/> 3分</label>
                </div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" th:name="'question'+${stat.index+1}" value="2"
                               th:onclick="'choose('+${stat.index+1}+');'"/> 2分</label>
                </div>
            </div>
            <div class="col-xs-11 col-sm-2">
                <div class="radio">
                    <label>
                        <input type="radio" th:name="'question'+${stat.index+1}" value="1"
                               th:onclick="'choose('+${stat.index+1}+');'"/> 1分</label>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>

<div class="row">
    <hr/>
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label for="suggestion">您的其他宝贵意见</label>
                <textarea class="form-control" rows="3" id="suggestion"></textarea>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <hr/>
    <div class="alert alert-danger col-xs-12 col-sm-12 hide" id="errorMsg"></div>
</div>

<div class="row">
    <div class="col-xs-2 col-sm-2">
        <input type="submit" class="btn btn-primary" value="提交" onclick="submit()"/>
    </div>
</div>
<script th:src="@{js/jquery.js}" type="text/javascript"></script>

<script th:inline="javascript">
    function submit() {
        var i = 0;
        var notFull = [];
        var resArr = [];
        do {
            i++;
            var fen = $("input:radio[name='question" + i + "']:checked").val();
            if (!fen) {
                notFull.push(i);
                $('#title' + i).css("border", "1px red solid");
            } else {
                resArr.push(fen);
            }
        } while (i != 20);
        if (notFull.length != 0) {
            $("#errorMsg").html("对不起！您还有未完成的问题：" + notFull.join(","));
            $('#errorMsg').removeClass("hide");
        } else {
            var name = $("#person").val();
            var suggestion = $("#suggestion").val();
            var res = resArr.join(",");
            $.post("/submit", {name: name, res: res, suggestion: suggestion}, function (result) {
                console.log(result);
                if (result.code == 'success') {
                    window.location = "/success";
                }

            });
        }
    }

    function choose(num) {
        $('#title' + num).removeAttr("style");
    }
</script>
</body>
</html>