<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>提交成功</title>

    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/ace.min.css}" rel="stylesheet"/>
    <link th:href="@{js/html5shiv.min.js}" rel="stylesheet"/>
    <link th:href="@{js/respond.min.js}" rel="stylesheet"/>
    <style type="text/css">
        body {
            padding: 20px;
        }

        .row {
            background: #fff;
        }
    </style>
</head>
<body class="no-skin">
<div class="row">
    <h2 align="center">提交成功！</h2>
</div>

</body>
</html>